# Just to make sure ^^ 

src/
docs/
tests/
stories/
example/
.vscode/
.idea/
node_modules/

tsconfig.json
tsconfig.*.json
eslint.config.*
.prettierrc*
.prettierignore
vite.config.*
vitest.config.*
jest.config.*
rollup.config.*
webpack.config.*
*.log

.github/
.gitignore
.gitmodules
.gitattributes

.DS_Store
Thumbs.db
